@using UniversityManagementSystemWebApp.Models
@model UniversityManagementSystemWebApp.Models.Student

@{
    ViewBag.Title = "Register Student";
    List<Department> departments = ViewBag.Departments;
    Student student = ViewBag.StudentInfo;
    string deparmentName = ViewBag.DepartmentName;
    string message = ViewBag.Message;
    var isStudentExist = ViewBag.IsStudentExist;
    string currentDate = ViewBag.CurrentDate;
}
@section styles
{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />

}

<h2>Register Student</h2>

<div class="table-container">

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Name)</td>
                <td>
                    @Html.TextBoxFor(x => x.Name, new { @class = "Adjust" })
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Email)</td>
                <td>
                    @Html.TextBoxFor(x => x.Email, new { @class = "Adjust" })
                    @Html.ValidationMessageFor(x => x.Email)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ContactNo)</td>
                <td>
                    @Html.TextBoxFor(x => x.ContactNo, new { @class = "Adjust" })
                    @Html.ValidationMessageFor(x => x.ContactNo)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Date)</td>
                <td>
                    @Html.TextBoxFor(x => x.Date, new { @value = currentDate })
                    @*<input type="text" id="Date" name="Date" value="@DateTime.Today.ToString()" required="required"/>*@
                    @Html.ValidationMessageFor(x => x.Date)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Address)</td>
                <td>
                    @Html.TextAreaFor(x => x.Address, new { @class = "Adjust" })
                    @Html.ValidationMessageFor(x => x.Address)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.DepartmentId)</td>
                <td>
                    @Html.DropDownListFor(x => x.DepartmentId, new SelectList(departments, "Id", "Name"), "---Select department---", (new { @class = "table-container" }))
                    @Html.ValidationMessageFor(x => x.DepartmentId)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input id="submit" type="submit" value="Assign" class="btn-success" /></td>
            </tr>
        </table>
    }
</div>
@if (student != null)
{
    <div class="table-container">
        <table class="table-container-data">
            <tr>
                <td><label>Student name:</label></td>
                <td><label>@student.Name</label></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><label>@student.Email</label></td>
            </tr>
            <tr>
                <td><label>ContactNo:</label></td>
                <td><label>@student.ContactNo</label></td>
            </tr>
            <tr>
                <td><label>Date:</label></td>
                <td><label>@student.Date</label></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><label>@student.Address</label></td>
            </tr>
            <tr>
                <td><label>Department:</label></td>
                <td><label>@deparmentName</label></td>
            </tr>
            <tr>
                <td><label>Registration Number:</label></td>
                <td><label>@student.RegistrationNumber</label></td>
            </tr>
        </table>
    </div>
}

@if (message != null)
{
    if (isStudentExist)
    {
        <div style="text-align: center; color: red">
            <h6>@message</h6>
        </div>
    }
    else
    {
        <div style="text-align: center; color: forestgreen">
            <h6>@message</h6>
        </div>
    }
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>

    <script>
        $(function () {
            $('#Date').Text = '@currentDate';

            $('#Date').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 6,
                todayBtn: "linked",
                daysOfWeekHighlighted: "5",
                todayHighlight: true,
                orientation: "bottom auto",
                autoclose: true
            });
        });
    </script>
}
